@model SociosClubApp.Models.Socio

@{
    ViewData["Title"] = "Create";
}

<h1>Crear Socio</h1>

<h4>Formulario para Socio</h4>
<hr />
        <form asp-action="Create" class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="col-sm-4">
                <div class="form-group">
                    <label asp-for="Nombre" class="control-label"></label>
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Apellido" class="control-label"></label>
                    <input asp-for="Apellido" class="form-control" />
                    <span asp-validation-for="Apellido" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Cedula" class="control-label"></label>
                    <input asp-for="Cedula" class="form-control" />
                    <span asp-validation-for="Cedula" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Imagen" class="control-label"></label>
                    <input asp-for="Imagen" class="form-control" />
                    <span asp-validation-for="Imagen" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Direccion" class="control-label"></label>
                    <input asp-for="Direccion" class="form-control" />
                    <span asp-validation-for="Direccion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Telefono" class="control-label"></label>
                    <input asp-for="Telefono" class="form-control" />
                    <span asp-validation-for="Telefono" class="text-danger"></span>
                </div>
            </div>            
            <div class="col-sm-4">
                <div class="form-group">
                    <label asp-for="Celular" class="control-label"></label>
                    <input asp-for="Celular" class="form-control" />
                    <span asp-validation-for="Celular" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Fax" class="control-label"></label>
                    <input asp-for="Fax" class="form-control" />
                    <span asp-validation-for="Fax" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Sexo" class="control-label"></label>
                    <select asp-for="Sexo" class="form-control" asp-items="Html.GetEnumSelectList<TipoSexo>()">
                        <option selected="selected" value="">Seleccionar</option>
                    </select>
                    <span asp-validation-for="Sexo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Edad" class="control-label"></label>
                    <input asp-for="Edad" class="form-control" />
                    <span asp-validation-for="Edad" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FechaNac" class="control-label"></label>
                    <input asp-for="FechaNac" class="form-control" />
                    <span asp-validation-for="FechaNac" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TipoMembresia" class="control-label"></label>
                    <select asp-for="TipoMembresia" class="form-control" asp-items="Html.GetEnumSelectList<TipoM>()">
                        <option selected="selected" value="">Seleccionar</option>
                    </select>
                    <span asp-validation-for="TipoMembresia" class="text-danger"></span>
                </div>
            </div>            
            <div class="col-sm-4">
                <div class="form-group">
                    <label asp-for="LugarTrabajo" class="control-label"></label>
                    <input asp-for="LugarTrabajo" class="form-control" />
                    <span asp-validation-for="LugarTrabajo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DireccionOficina" class="control-label"></label>
                    <input asp-for="DireccionOficina" class="form-control" />
                    <span asp-validation-for="DireccionOficina" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TelefonoOficina" class="control-label"></label>
                    <input asp-for="TelefonoOficina" class="form-control" />
                    <span asp-validation-for="TelefonoOficina" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Estado" /> @Html.DisplayNameFor(model => model.Estado)
                    </label>
                </div>
                <div class="form-group">
                    <label asp-for="FechaIngreso" class="control-label"></label>
                    <input asp-for="FechaIngreso" class="form-control" />
                    <span asp-validation-for="FechaIngreso" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FechaSalida" class="control-label"></label>
                    <input asp-for="FechaSalida" class="form-control" />
                    <span asp-validation-for="FechaSalida" class="text-danger"></span>
                </div>
            </div>




 
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>

<div>
    <a asp-action="Index">Volver a la Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
