@{
    ViewData["Title"] = "Home Page";
}


        <div class="jumbotron jumbotron-fluid my-5 bg-white">
            <div class="container">
                <h1 class="display-4">Bienvenido a Socios Club</h1>
                <p class="lead">
                    Club creado con el fin de promover la práctica de los deportes, proporcionar recreo y esparcimiento
                    a sus socios y sus familias, fomentar la sociabilidad y el respeto a las normas de comportamiento social
                    entre sus miembros, de manera que sea una ayuda efectiva en la formación de la juventud y promover la
                    cultura en todos sus aspectos.
                </p>
            </div>
        </div>


